<div *ngIf="chapter">
	<h1>
		{{ chapter.title }}
		<div class="small">{{ chapter.scripture }}</div>
	</h1>

	<mat-tab-group *ngIf="!showForm">
		<mat-tab label="Details">
			<p>{{ chapter.description }}</p>
			<p class="small" style="text-align: right">
				<em>Published {{ chapter.publishedAt | date:'MMMM yyyy':'UTC' }}</em>
			</p>
		</mat-tab>

		<mat-tab label="Articles">
			<tg-article-list [chapter]="chapter"></tg-article-list>
		</mat-tab>
	</mat-tab-group>

	<tg-chapter-form *ngIf="showForm" [chapter]="chapter"
		(save)="onSave($event)" (cancel)="onCancel()"></tg-chapter-form>
</div>
