<div *ngIf="issue">
	<h2>
		<i class="fa fa-calendar-alt"></i> Chapters
		<button class="btn float-right" (click)="toggleForm()"
			[ngClass]="showForm ? 'btn-secondary' : 'btn-success'">
			<span *ngIf="!showForm"><i class="fa fa-plus"></i> Add New</span>
			<span *ngIf="showForm"><i class="fa fa-ban"></i> Cancel</span>
		</button>
	</h2>
	<table class="table" *ngIf="!showForm">
		<thead>
			<tr>
				<th>Title</th>
				<th>Scripture</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let chapter of chapters">
				<td>
					<a href="/chapter/{{ chapter._id }}">{{ chapter.title || '(No Title)' }}</a>
				</td>
				<td>{{ chapter.scripture }}</td>
			</tr>
		</tbody>
	</table>
	<tg-chapter-form *ngIf="showForm" [chapter]="newChapter" (save)="onSave($event)" (cancel)="onCancel()"></tg-chapter-form>
</div>
