<div *ngIf="chapter">
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<h2>{{ chapter.title }}</h2>
			<div *ngIf="!showForm">
				<p class="small">{{ chapter.scripture }}</p>
				<p class="small">
					{{ chapter.publishedAt | date:'MMMM d, yyyy':'UTC' }}
				</p>
				<p>{{ chapter.description }}</p>
			</div>
			<tg-chapter-form *ngIf="showForm" [chapter]="chapter"
				(save)="onSave($event)" (cancel)="onCancel()"></tg-chapter-form>
		</div>
		<div class="col-sm-12 col-md-6">
			<tg-article-list [chapter]="chapter"></tg-article-list>
		</div>
	</div>
</div>
