<div class="form-group">
	<label for="chapter-title">Title</label>
	<input id="chapter-title" type="text" class="form-control"
		[(ngModel)]="chapterCopy.title">
</div>
<div class="form-group">
	<label>Publication Date</label>
	<input type="date" class="form-control"
		[ngModel]="chapterCopy.publishedAt | date:'yyyy-MM-dd'"
		(ngModelChange)="chapterCopy.publishedAt = $event">
</div>
<div class="form-group">
	<label for="chapter-scripture">Scripture</label>
	<input id="chapter-scripture" type="text" class="form-control"
		[(ngModel)]="chapterCopy.scripture">
</div>
<div class="form-group">
	<label for="chapter-description">Description</label>
	<textarea id="chapter-description" class="form-control"
		[(ngModel)]="chapterCopy.description"></textarea>
</div>
<p>
	<button class="btn btn-primary" (click)="doSave()"><i class="fa fa-save"></i> Save</button>
	<button class="btn btn-danger" (click)="doDelete()" *ngIf="chapterCopy._id"><i class="fa fa-trash"></i> Delete</button>
	<button class="btn btn-secondary" (click)="doCancel()"><i class="fa fa-ban"></i> Cancel</button>
</p>
