<mat-toolbar color="primary">
	<button mat-icon-button *ngIf="buttonType == 'menu'"
		(click)="toggleEvent.emit()">
		<mat-icon>menu</mat-icon>
	</button>
	<button mat-icon-button *ngIf="buttonType == 'back'"
		(click)="goBackEvent.emit()">
		<mat-icon>arrow_back</mat-icon>
	</button>
	<span>{{ title }}</span>
	<span class="fill-space"></span>
	<button mat-icon-button *ngFor="let item of actionItems"
		(click)="doMenuAction(item, $event)">
		<mat-icon>{{ item.icon }}</mat-icon>
	</button>
	<button mat-icon-button *ngIf="menuItems.length"
		[matMenuTriggerFor]="contextMenu">
		<mat-icon>more_vert</mat-icon>
	</button>
	<mat-menu #contextMenu="matMenu">
		<button mat-menu-item *ngFor="let item of menuItems"
			(click)="doMenuAction(item, $event)">
			<mat-icon>{{ item.icon }}</mat-icon>
			{{ item.label }}
		</button>
	</mat-menu>
</mat-toolbar>
