<mat-toolbar color="primary">
	<button mat-icon-button *ngIf="buttonType == 'menu'"
		(click)="toggleEvent.emit()">
		<mat-icon>menu</mat-icon>
	</button>
	<button mat-icon-button *ngIf="buttonType == 'back'"
		(click)="goBackEvent.emit()">
		<mat-icon>arrow_back</mat-icon>
	</button>
	<span>{{ title }}</span>
	<span class="fill-space"></span>
	<button mat-icon-button *ngIf="menuLinks.length"
		[matMenuTriggerFor]="contextMenu">
		<mat-icon>more_vert</mat-icon>
	</button>
	<mat-menu #contextMenu="matMenu">
		<button mat-menu-item *ngFor="let link of menuLinks"
			(click)="doMenuAction(link, $event)">
			<mat-icon *ngIf="link.icon">{{ link.icon }}</mat-icon>
			{{ link.label }}
		</button>
	</mat-menu>
</mat-toolbar>
