.bottom-nav {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
	justify-content: space-around;

	.item {
		text-align: center;
		line-height: 0px;

		.label {
			font-size: 14px;
			line-height: 18px;
		}
	}
}
