<div *ngIf="article">
	<h2 style="float:right;">{{ article.publishedAt | date:'EEEE | MM.dd.yy':'UTC'}}</h2>
	<h1 class="clearfix">{{ article.title || '(No Title)' }}</h1>
	<div *ngIf="!showForm">
		<div class="row">
			<div class="col-md-4 col-lg-3">
				<mat-card>
					<mat-card-header>
						<mat-card-title>{{ article.bibleReading }}</mat-card-title>
					</mat-card-header>
					<mat-card-content>
						<p>{{ article.content }}</p>
						<div>
							<div class="lead">Xtra Reading:</div>
							{{ article.extraReading }}
						</div>
					</mat-card-content>
				</mat-card>
			</div>
			<div class="col-md-8 col-lg-9">
				<div class="row">
					<div class="col-xs-12 col-lg-6" *ngFor="let question of questionList; let i = index">
						<h3>{{ question.heading }}</h3>
						<mat-form-field>
							<textarea matInput [(ngModel)]="answerList[i]"
								placeholder="{{ question.keyword }}: {{ question | questionMessage }}"></textarea>
						</mat-form-field>
					</div>
				</div>
				<p>
					<button mat-raised-button color="primary" (click)="onSaveReply()">Save</button>
				</p>
			</div>
		</div>
	</div>
	<tg-article-form *ngIf="showForm" [article]="article"
		(save)="onSave($event)" (cancel)="onCancel()"></tg-article-form>
</div>
