<mat-form-field>
	<input matInput placeholder="Title" [(ngModel)]="articleCopy.title">
</mat-form-field>
<mat-form-field>
	<input type="date" matInput placeholder="Publication Date"
		[ngModel]="articleCopy.publishedAt | date:'yyyy-MM-dd':'UTC'"
		(ngModelChange)="articleCopy.publishedAt = $event">
</mat-form-field>
<div class="row">
	<div class="col-6">
		<mat-form-field>
			<input matInput placeholder="Bible Reading"
				[(ngModel)]="articleCopy.bibleReading">
		</mat-form-field>
	</div>
	<div class="col-6">
		<mat-form-field>
			<input matInput placeholder="Extra Reading"
				[(ngModel)]="articleCopy.extraReading">
		</mat-form-field>
	</div>
</div>
<mat-form-field>
	<textarea matInput placeholder="Content"
		[(ngModel)]="articleCopy.content"></textarea>
</mat-form-field>

<h3>Questions</h3>

<p>
	<mat-checkbox [(ngModel)]="useDefaultQuestions"
		(change)="toggleUseDefault()">Use Default Questions</mat-checkbox>
</p>
<mat-form-field>
	<input matInput placeholder="Observation"
		[disabled]="useDefaultQuestions"
		[(ngModel)]="questions.observation.message">
</mat-form-field>
<mat-form-field>
	<input matInput placeholder="Interpretation"
		[disabled]="useDefaultQuestions"
		[(ngModel)]="questions.interpretation.message">
</mat-form-field>
<mat-form-field>
	<input matInput placeholder="Application"
		[disabled]="useDefaultQuestions"
		[(ngModel)]="questions.application.message">
</mat-form-field>
<mat-form-field>
	<input matInput placeholder="Implementation"
		[disabled]="useDefaultQuestions"
		[(ngModel)]="questions.implementation.message">
</mat-form-field>
<p>
	<button mat-raised-button color="primary" (click)="doSave()">Save</button>
	<button mat-raised-button (click)="doCancel()">Cancel</button>
</p>
