<nav class="breadcrumb">
	<a href="/" class="breadcrumb-item">
		<i class="fa fa-home"></i> Home
	</a>
	<a href="/issue/{{ issue._id }}" class="breadcrumb-item" *ngIf="issue">
		<i class="fa fa-book"></i> {{ issue.title }}
	</a>
	<a href="/chapter/{{ chapter._id }}" class="breadcrumb-item" *ngIf="chapter">
		<i class="fa fa-calendar-alt"></i> {{ chapter.title }}
	</a>
	<a href="/article/{{ article._id }}" class="breadcrumb-item" *ngIf="article">
		<i class="fa fa-file-alt"></i> {{ article.title || '(No Title)' }}
	</a>
</nav>

<div *ngIf="article">
	<h2>
		{{ article.publishedAt | date:'EEEE | MM.dd.yy':'UTC'}}
		<button class="btn btn-secondary float-right" (click)="toggleForm()">
			<span *ngIf="!showForm"><i class="fa fa-edit"></i> Edit</span>
			<span *ngIf="showForm"><i class="fa fa-ban"></i> Cancel</span>
		</button>
	</h2>
	<h1>
		<i class="fa fa-file-alt"></i> {{ article.title }}
		<div class="float-right">{{ article.bibleReading }}</div>
	</h1>
	<div *ngIf="!showForm">
		<div class="row">
			<div class="col-md-4 col-lg-3">
				<div class="alert alert-primary">
					{{ article.content }}
				</div>
				<div class="alert alert-secondary">
					<h3 class="alert-heading"><span style="font-size: 1.3em">X</span>tra Reading</h3>
					<div>{{ article.extraReading }}</div>
				</div>
			</div>
			<div class="col-md-8 col-lg-9">
				<div class="form-group" *ngFor="let question of questionList; let i = index">
					<div class="lead">{{ question.heading }}</div>
					<label for="question-{{ question.keyword | lowercase }}">{{ question.keyword }}: {{ question | questionMessage }}</label>
					<textarea id="question-{{ question.keyword | lowercase }}" class="form-control" [(ngModel)]="answerList[i]"></textarea>
				</div>
				<p>
					<button class="btn btn-primary" (click)="onSaveReply()"><i class="fa fa-save"></i> Save</button>
				</p>
			</div>
		</div>
	</div>
	<tg-article-form *ngIf="showForm"
		[article]="article"
		(save)="onSave($event)"
		(delete)="goToList()"
		(cancel)="onCancel()"></tg-article-form>
</div>
