<div *ngIf="chapter">
	<h2>
		<i class="fa fa-file-alt"></i> Articles
		<button class="btn float-right" (click)="toggleForm()"
			[ngClass]="showForm ? 'btn-secondary' : 'btn-success'">
			<span *ngIf="!showForm"><i class="fa fa-plus"></i> Add New</span>
			<span *ngIf="showForm"><i class="fa fa-ban"></i> Cancel</span>
		</button>
	</h2>
	<table class="table" *ngIf="!showForm">
		<thead>
			<tr>
				<th>Title</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let article of articles">
				<td>
					<a href="/article/{{ article._id }}">{{ article.title || '(No Title)' }}</a>
				</td>
				<td>{{ article.publishedAt | date:'MMMM d, yyy':'UTC' }}</td>
			</tr>
		</tbody>
	</table>
	<tg-article-form *ngIf="showForm" [article]="newArticle" (save)="onSave($event)" (cancel)="onCancel()"></tg-article-form>
</div>
