<div *ngIf="chapter">
	<mat-table #table [dataSource]="articles" *ngIf="!showForm">
		<ng-container matColumnDef="title">
			<mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
			<mat-cell *matCellDef="let article">
				<a (click)="goToDetail(article)">{{ article.title || '(No Title)' }}</a>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="date">
			<mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
			<mat-cell *matCellDef="let article">
				{{ article.publishedAt | date:'MMMM d, yyy':'UTC' }}
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="['title', 'date']"></mat-header-row>
		<mat-row *matRowDef="let row; columns: ['title', 'date']"></mat-row>
	</mat-table>

	<button mat-mini-fab *ngIf="!showForm" color="accent" (click)="toggleForm()">
		<mat-icon>add</mat-icon>
	</button>

	<tg-article-form *ngIf="showForm" [article]="newArticle"
		(save)="onSave($event)" (cancel)="onCancel()"></tg-article-form>
</div>
