<nav class="breadcrumb">
	<a href="/" class="breadcrumb-item">
		<i class="fa fa-home"></i> Home
	</a>
</nav>

<h2>
	<i class="fa fa-book"></i> Issues
	<button class="btn float-right" (click)="toggleForm()"
		[ngClass]="showForm ? 'btn-secondary' : 'btn-success'">
		<span *ngIf="!showForm"><i class="fa fa-plus"></i> Add New</span>
		<span *ngIf="showForm"><i class="fa fa-ban"></i> Cancel</span>
	</button>
</h2>

<tg-issue-form *ngIf="showForm" [issue]="newIssue" (save)="onSave($event)" (cancel)="onCancel()"></tg-issue-form>

<table class="table" *ngIf="!showForm">
	<thead>
		<th>Title</th>
		<th>Volume</th>
		<th>Issue</th>
		<th>Published</th>
	</thead>
	<tbody>
		<tr *ngFor="let issue of issues">
			<td>
				<a href="issue/{{ issue._id }}">
					{{ issue.title || '(No Title)' }} <i class="fa fa-angle-right"></i>
				</a>
			</td>
			<td>{{ issue.volumeNumber }}</td>
			<td>{{ issue.issueNumber }}</td>
			<td>{{ issue.publishedAt | date:'MMMM d, yyyy':'UTC' }}</td>
		</tr>
	</tbody>
</table>
