<mat-form-field>
	<input matInput placeholder="Title" [(ngModel)]="issueCopy.title">
</mat-form-field>
<mat-form-field>
	<input type="date" matInput placeholder="Publication Date"
		[ngModel]="issueCopy.publishedAt | date:'yyyy-MM-dd':'UTC'"
		(ngModelChange)="issueCopy.publishedAt = $event">
</mat-form-field>
<div class="row">
	<div class="col-6">
		<mat-form-field>
			<input matInput placeholder="Volume Number" [(ngModel)]="issueCopy.volumeNumber">
		</mat-form-field>
	</div>
	<div class="col-6">
		<mat-form-field>
			<input matInput placeholder="Issue Number" [(ngModel)]="issueCopy.issueNumber">
		</mat-form-field>
	</div>
</div>
<mat-form-field>
	<textarea matInput placeholder="Description" [(ngModel)]="issueCopy.description"></textarea>
</mat-form-field>
<p>
	<button mat-raised-button color="primary" (click)="doSave()">Save</button>
	<button mat-raised-button (click)="doCancel()">Cancel</button>
</p>
