<h2>Issues</h2>

<div class="row" *ngIf="!showForm">
	<div class="col-6" *ngFor="let issue of issues">
		<mat-card (click)="goToDetail(issue)">
			<mat-card-header>
				<mat-card-title>{{ issue.title || '(No Title)' }}</mat-card-title>
				<mat-card-subtitle>
					Volume {{ issue.volumeNumber }},
					Issue {{ issue.issueNumber }}
				</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<p>{{ issue.description }}</p>
			</mat-card-content>
			<mat-card-actions>
				<button mat-icon-button>
					<mat-icon>edit</mat-icon>
				</button>
				<button mat-icon-button color="warn">
					<mat-icon>delete</mat-icon>
				</button>
			</mat-card-actions>
		</mat-card>
	</div>
</div>

<button mat-mini-fab *ngIf="!showForm" color="accent" (click)="toggleForm()" class="br">
	<mat-icon>add</mat-icon>
</button>

<tg-issue-form *ngIf="showForm" [issue]="newIssue"
	(save)="onSave($event)" (cancel)="onCancel()"></tg-issue-form>
