<div *ngIf="issue">
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<h2>{{ issue.title }}</h2>
			<div *ngIf="!showForm">
				<p class="small">
					Volume {{ issue.volumeNumber }},
					Issue {{ issue.issueNumber }}
				</p>
				<p class="small">
					{{ issue.publishedAt | date:'MMMM d, y':'UTC' }}
				</p>
				<p>{{ issue.description }}</p>
			</div>
			<tg-issue-form *ngIf="showForm" [issue]="issue"
				(save)="onSave($event)" (cancel)="onCancel()"></tg-issue-form>
		</div>
		<div class="col-sm-12 col-md-6">
			<tg-chapter-list [issue]="issue"></tg-chapter-list>
		</div>
	</div>
</div>
