<tg-header
	title="Trail Guide"
	[menuLinks]="contextLinks"
	[showBackButton]="previousRoutes.length > 0"
	(toggle)="sidebarOpen = !sidebarOpen"
	(goBack)="onGoBack()"></tg-header>

<mat-sidenav-container fullscreen>
	<mat-sidenav [mode]="sidebarMode" [(opened)]="sidebarIsOpen">
		<mat-nav-list *ngFor="let link of sidebarLinks">
			<a mat-list-item (click)="doLinkClick(link)">
				<mat-icon *ngIf="link.icon" [matTooltip]="link.label"
					matTooltipPosition="after">{{ link.icon }}</mat-icon>
				<span *ngIf="sidebarOpen || !mediaQuery.matches">{{ link.label }}</span>
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<div class="container">
			<tg-breadcrumb [links]="breadcrumbs"></tg-breadcrumb>
			<router-outlet *ngIf="user"></router-outlet>
			<tg-login *ngIf="!user" (login)="onLogin($event)"></tg-login>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>

<!-- <tg-footer [links]="sidebarLinks" (linkClick)="doLinkClick($event)"></tg-footer> -->
