<nav class="breadcrumb">
	<a href="/roles" class="breadcrumb-item active">Roles</a>
</nav>

<h2>
	<i class="fa fa-briefcase"></i> Roles
	<button class="btn float-right" (click)="toggleForm()"
		[ngClass]="showForm ? 'btn-secondary' : 'btn-success'">
		<span *ngIf="!showForm"><i class="fa fa-plus"></i> Add New</span>
		<span *ngIf="showForm"><i class="fa fa-ban"></i> Cancel</span>
	</button>
</h2>

<tg-role-form *ngIf="showForm" [role]="newRole"
	(save)="onSave($event)" (cancel)="onCancel()"></tg-role-form>

<table class="table" *ngIf="!showForm">
	<thead>
		<tr>
			<th>Title</th>
			<th *ngFor="let resource of resources">{{ resource }}</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let role of roles">
			<th (click)="editRole(role)">{{ role.title }}</th>
			<td *ngFor="let resource of resources">
				<div *ngFor="let action of actions">
					<i class="fa fa-check" *ngIf="hasPermission(role, action, resource); else no_perm"></i>
					<ng-template #no_perm><i class="fa fa-times"></i></ng-template>
					{{ action }}
					<sup class="fa fa-asterisk" *ngIf="hasOverridePermission(role, action, resource)"></sup>
				</div>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5" class="small">
				<i class="fa fa-asterisk"></i> These permissions are granted with override access.
			</td>
		</tr>
	</tfoot>
</table>
