<div class="form-group">
	<label>Title</label>
	<input type="text" class="form-control" [(ngModel)]="roleCopy.title">
</div>
<div class="form-group">
	<label>Description</label>
	<textarea class="form-control" [(ngModel)]="roleCopy.description"></textarea>
</div>
<table class="table">
	<thead>
		<tr>
			<th>Resource</th>
			<th *ngFor="let action of actions">{{ action }}</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let resource of resources">
			<th>{{ resource }}</th>
			<td *ngFor="let action of actions">
				<div class="form-check">
					<input class="form-check-input" type="checkbox"
						id="{{ resource }}-{{ action }}-grant"
						[disabled]="permissions[resource][action].override"
						[(ngModel)]="permissions[resource][action].grant">
					<label class="form-check-label"
						for="{{ resource }}-{{ action }}-grant">Grant</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox"
						id="{{ resource }}-{{ action }}-override"
						[disabled]="!permissions[resource][action].grant"
						[(ngModel)]="permissions[resource][action].override">
					<label class="form-check-label"
						for="{{ resource }}-{{ action }}-override">Override</label>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<p>
	<button class="btn btn-primary" (click)="doSave()"><i class="fa fa-save"></i> Save</button>
	<button class="btn btn-danger" (click)="doDelete()" *ngIf="roleCopy._id"><i class="fa fa-trash"></i> Delete</button>
	<button class="btn btn-secondary" (click)="doCancel()"><i class="fa fa-ban"></i> Cancel</button>
</p>
