<nav class="breadcrumb">
	<a href="/roles" class="breadcrumb-item active">Roles</a>
</nav>

<h2>
	<i class="fa fa-briefcase"></i> Roles
	<button class="btn float-right" (click)="toggleForm()"
		[ngClass]="showForm ? 'btn-secondary' : 'btn-success'">
		<span *ngIf="!showForm"><i class="fa fa-plus"></i> Add New</span>
		<span *ngIf="showForm"><i class="fa fa-ban"></i> Cancel</span>
	</button>
</h2>

<tg-role-form *ngIf="showForm" [role]="newRole"
	(save)="onSave($event)" (cancel)="onCancel()"></tg-role-form>

<table class="table" *ngIf="!showForm">
	<thead>
		<tr>
			<th>Role</th>
			<th>Resource</th>
			<th *ngFor="let action of actions">{{ action }}</th>
		</tr>
	</thead>
	<tbody *ngFor="let role of roles">
		<tr *ngFor="let resource of resources; let i = index">
			<td rowspan="4" *ngIf="i == 0">
				<a class="text-primary" ngbTooltip="Edit" (click)="editRole(role)"><i class="fa fa-edit"></i></a>
				<a class="text-danger" ngbTooltip="Delete" (click)="deleteRole(role)"><i class="fa fa-trash"></i></a>
				<strong>{{ role.title }}</strong>
			</td>
			<td>{{ resource }}</td>
			<td *ngFor="let action of actions">
				<ng-container *ngIf="hasPermission(role, action, resource); else no_perm">
					<ng-container *ngIf="hasOverridePermission(role, action, resource); else no_over">
						<i class="fa fa-check text text-success"></i>
					</ng-container>
					<ng-template #no_over>
						<i class="fa fa-asterisk text text-warning"></i>
					</ng-template>
				</ng-container>
				<ng-template #no_perm>
					<i class="fa fa-times text text-danger"></i>
				</ng-template>
			</td>
		</tr>
	</tbody>
</table>
