<nav class="breadcrumb">
	<a href="/users" class="breadcrumb-item active">Users</a>
</nav>

<h2>
	<i class="fa fa-user"></i> Users
	<button class="btn float-right" (click)="toggleForm()"
		[ngClass]="showForm ? 'btn-secondary' : 'btn-success'">
		<span *ngIf="!showForm"><i class="fa fa-plus"></i> Add New</span>
		<span *ngIf="showForm"><i class="fa fa-ban"></i> Cancel</span>
	</button>
</h2>

<tg-user-form *ngIf="showForm" [user]="newUser"
	(save)="onSave($event)" (cancel)="onCancel()"></tg-user-form>

<table class="table" *ngIf="!showForm">
	<thead>
		<tr>
			<th>Username</th>
			<th>Roles</th>
			<th>Admin</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of users">
			<td>
				<a class="text-primary" ngbTooltip="Edit" (click)="editUser(user)"><i class="fa fa-edit"></i></a>
				<a class="text-danger" ngbTooltip="Delete" (click)="deleteUser(user)"><i class="fa fa-trash"></i></a>
				<span class="lead">{{ user.username }}</span>
			</td>
			<td>
				<span class="badge badge-secondary" *ngFor="let role of user.roles">{{ role.title }}</span>
			</td>
			<td>
				<i class="far fa-check-square" *ngIf="user.admin"></i>
				<i class="far fa-square" *ngIf="!user.admin"></i>
			</td>
		</tr>
	</tbody>
</table>
