<div class="row">
	<div class="col-sm-12 col-md-8">
		<div class="form-group">
			<label>Username</label>
			<input type="text" class="form-control" [(ngModel)]="userCopy.username">
		</div>
		<div class="form-group">
			<div class="form-check">
				<input class="form-check-input" id="user-admin" type="checkbox" [(ngModel)]="userCopy.admin">
				<label class="form-check-label" for="user-admin">Is Administrator</label>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-4">
		<div class="form-group">
			<label>Roles</label>
			<div class="form-check" *ngFor="let role of roles">
				<input class="form-check-input" id="role-{{ role._id }}" type="checkbox" [(ngModel)]="userRoles[role._id]">
				<label class="form-check-label" for="role-{{ role._id }}">{{ role.title }}</label>
			</div>
		</div>
	</div>
</div>
<p>
	<button class="btn btn-primary" (click)="doSave()"><i class="fa fa-save"></i> Save</button>
	<button class="btn btn-danger" (click)="doDelete()" *ngIf="userCopy._id"><i class="fa fa-trash"></i> Delete</button>
	<button class="btn btn-secondary" (click)="doCancel()"><i class="fa fa-ban"></i> Cancel</button>
</p>
