@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

$config: mat-typography-config();

$base-padding: 16px;
$grid-columns: 12;

body {
	margin: 0;
	font-family: mat-font-family($config);
	font-size: mat-font-size($config, body-1);
}

mat-sidenav-container { margin-top: 56px; }

.container { margin: $base-padding; }
.fill-space { flex: 1 1 auto; }

@mixin clearfix {
	&::after {
		clear: both;
		content: "";
		display: table;
	}
}

@import 'grid';

.mat-mini-fab.br {
	position: absolute;
	right: 32px;
	bottom: 32px;
}

mat-form-field {
	width: 100%;
}
