@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

$config: mat-typography-config();

@include mat-base-typography($config);

.mat-card-header {
	.mat-card-title {
		font-size: mat-font-size($config, body-2);
		font-weight: mat-font-weight($config, body-2);
		// line-height: mat-line-height($config, body-2);
	}

	.mat-card-subtitle {
		font-size: mat-font-size($config, caption);
		font-weight: mat-font-weight($config, caption);
		// line-height: mat-line-height($config, caption);
	}
}

.mat-mini-fab.br {
	position: absolute;
	right: 32px;
	bottom: 32px;
}

mat-sidenav-container { margin-top: 56px; }

mat-form-field { width: 100%; }

$base-padding: 16px;
$grid-columns: 12;

body { margin: 0; }

.container { margin: $base-padding; }
.fill-space { flex: 1 1 auto; }

.lead {
	font-size: mat-font-size($config, body-2);
	font-weight: mat-font-weight($config, body-2);
	line-height: mat-line-height($config, body-2);
	display: inline-block;
	&::first-letter { font-size: 1.3em; }
}

.clearfix {
	&::after {
		clear: both;
		content: "";
		display: table;
	}
}

@import 'grid';
