@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

$config: mat-typography-config();
$fg-theme: $mat-light-theme-foreground;
$bg-theme: $mat-light-theme-background;

@include mat-base-typography($config);

.mat-card-header {
	.mat-card-title {
		font-size: mat-font-size($config, body-2);
		font-weight: mat-font-weight($config, body-2);
		// line-height: mat-line-height($config, body-2);
	}

	.mat-card-subtitle {
		font-size: mat-font-size($config, caption);
		font-weight: mat-font-weight($config, caption);
		// line-height: mat-line-height($config, caption);
	}
}

.mat-mini-fab.br {
	position: absolute;
	right: 32px;
	bottom: 32px;
}

mat-sidenav-container { margin: 56px 0 0; }
mat-sidenav { min-width: 256px; }

mat-form-field { width: 100%; }

@media only screen and (min-width: 600px) {
	mat-sidenav-container { margin: 64px 0 0; }
}

$base-padding: 16px;
$grid-columns: 12;

body { margin: 0; }

.container { margin: $base-padding; }
.fill-space { flex: 1 1 auto; }

.lead {
	font-size: mat-font-size($config, body-2);
	font-weight: mat-font-weight($config, body-2);
	line-height: mat-line-height($config, body-2);
	display: inline-block;
	&::first-letter { font-size: 1.3em; }
}

small, .small {
	font-size: mat-font-size($config, caption);
	font-weight: mat-font-weight($config, caption);
	line-height: mat-line-height($config, caption);
	color: map-get($fg-theme, secondary-text);
}

.clearfix {
	&::after {
		clear: both;
		content: "";
		display: table;
	}
}

@import 'grid';
